 <!-- table sensors search -->
 
 [#if VIEW_MODE="search_sensors" || VIEW_MODE=""#]
 <div class="float-right">
	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about">About&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span>
	</button>
</div>
<div>
 SystemInfo
 &nbsp;
 <a href="#" onClick="$('#api_settings').toggle();return false;" class="btn btn-default" data-toggle="collapse"><i class="glyphicon glyphicon-cog"></i> <#LANG_SETUP#></a>
 &nbsp;
 	[#if CYCLERUN==1#]
		<span class="label label-success" title="Статус цикла">Цикл запущен</span>
	[#else#]
		<span class="label label-danger" title="Статус цикла">Цикл остановлен</span>
	[#endif#]
</div>

<div class="collapse" id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="col-lg-4 control-label">Update info(sec):</label>
 <div class="col-lg-6"><input class="form-control" type="text" name="update_timeout" value="[#UPDATE_TIMEOUT#]" class="input"></div>
</div>

<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>

</div>

  [#inc sensors_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table sensors search -->
 <!-- table sensors edit -->
 [#if VIEW_MODE="edit_sensors"#]
   [#inc sensors_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table sensors edit -->
 <!-- table sensors view --> 
 [#if VIEW_MODE="view_sensors"#]
   [#inc sensors_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table sensors view -->

 <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
<!-- <div id="about" class="modal hide"> -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">SystemInfo</h4>
			</div>
			<div class="modal-body">
				<div class="float-right">
				</div>
                <p class="float-left"> System information.<br>
				Обсуждение модуля <a href="https://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=4998" target="_blank">здесь</a>.<br>
				</p>
				<hr size="1">
				<p class="float-left">
				Поддержать автора материально:
				<ul>
					<li>Yandex: <a href="https://money.yandex.ru/to/410012076838296/100"  target="_blank">410012076838296</a></li>
					<li>WebMoney: R366396529511</li>
					<li><a href="https://connect.smartliving.ru/tasks/97.html"  target="_blank">Connect</a></li>
				</ul>
                </p>
			</div>
			
			<div class="modal-footer">
				<div class="pull-left">Telegram: <a href="https://telegram.me/Eraser1981" target="_blank">@Eraser1981</a> :)</div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


