<link rel="stylesheet" href="../templates/sysinfo/bootstrap-select.min.css">
<script src="../templates/sysinfo/bootstrap-select.min.js"></script>

<!-- Table 'sensors' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<!-- TITLE (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_TITLE#>:
 (*)
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"></div>
</div>
<!-- ENABLE -->
<div class="form-group">
 <label class="col-lg-3 control-label">Enable:</label>
 <div class="col-lg-4"><input type="checkbox" name="enable" value="1"[#if ENABLE="1"#] checked[#endif#]></div>
</div> 
<!-- PROVIDER (varchar) -->
<script type="text/javascript">
	function OnChangeProvider (select) {    
	    var fSetting = document.getElementById('div_setting');
		var fType = document.getElementById('div_type');
		var fSubtype = document.getElementById('div_subtype');
		var fUnit = document.getElementById('div_unit');
        if (select.value == "local")
        {
            fSetting.style.display = 'none';
            fType.style.display = 'block';
            fSubtype.style.display = 'block';
            fUnit.style.display = 'block';
        }
        if (select.value == "custom")
        {
            fSetting.style.display = 'block';
            fType.style.display = 'none';
            fSubtype.style.display = 'none';
            fUnit.style.display = 'none';
        }
        if (select.value == "ohm")
        {
            fSetting.style.display = 'block';
            fType.style.display = 'block';
            fSubtype.style.display = 'none';
            fUnit.style.display = 'none';
        }
	}
    function OnChangeType (select) {    
	    var fSetting = document.getElementById('div_setting');
		var fSubtype = document.getElementById('div_subtype');
		var fUnit = document.getElementById('div_unit');
        if (select.value == "cpu")
        {
            fSetting.style.display = 'none';
            fSubtype.style.display = 'none';
            fUnit.style.display = 'none';
        }
        if (select.value == "ram")
        {
            fSetting.style.display = 'none';
            fSubtype.style.display = 'block';
            fUnit.style.display = 'block';
        }
        if (select.value == "hdd")
        {
            fSetting.style.display = 'block';
            fSubtype.style.display = 'block';
            fUnit.style.display = 'block';
        }
        if (select.value == "uptime")
        {
            fSetting.style.display = 'none';
            fSubtype.style.display = 'none';
            fUnit.style.display = 'none';
        }
	}
</script> 
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_PROVIDER#] style="color:red;font-weight:bold"[#endif#]>
 Provider:
 </label>
 <div class="col-lg-4">
        <select name="provider" id="provider" class="selectpicker form-control" onchange="OnChangeProvider(this);">
            <option data-content="<img src='../templates/sysinfo/img/local.png' width='20' height='20'> Local" value="local"[#if PROVIDER="local"#] selected[#endif#]>Local
            <option data-content="<img src='../templates/sysinfo/img/custom.png' width='20' height='20'> Custom" value="custom"[#if PROVIDER="custom"#] selected[#endif#]>Custom
            <option data-content="<img src='../templates/sysinfo/img/ohm.png' width='20' height='20'> Open Hardware Monitor" value="ohm"[#if PROVIDER="ohm"#] selected[#endif#]>Open Hardware Monitor
        </select>
 </div>
</div>
<!-- PROVIDER_SETTINGS (varchar) -->
<div class="form-group" id="div_setting">
 <label class="col-lg-3 control-label"[#if ERR_PROVIDER_SETTINGS#] style="color:red;font-weight:bold"[#endif#]>
 Provider settings:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="provider_settings" value="[#PROVIDER_SETTINGS#]" id="provider_settings"></div>
</div>
<!-- TYPE_SENSOR (varchar) -->
<div class="form-group" id="div_type">
 <label class="col-lg-3 control-label"[#if ERR_TYPE_SENSOR#] style="color:red;font-weight:bold"[#endif#]>
 Type sensor:
 </label>
 <div class="col-lg-4">
    <select name="type_sensor" id="type_sensor" class="selectpicker form-control" onchange="OnChangeType(this);">
            [#begin SENSORS#]
                <option data-content="<img src='[#IMAGE#]'> [#TITLE#]" value="[#ID#]"[#if ID="<#TYPE_SENSOR#>"#] selected[#endif#]>[#TITLE#]
            [#end SENSORS#]
    </select>
 </div>
</div>
<!-- SUBTYPE_SENSOR (varchar) -->
<div class="form-group"  id="div_subtype">
 <label class="col-lg-3 control-label"[#if ERR_SUBTYPE_SENSOR#] style="color:red;font-weight:bold"[#endif#]>
 Subtype sensor:
 </label>
 <div class="col-lg-4">
    <select name="subtype_sensor" id="subtype_sensor" class="selectpicker form-control" onchange="OnChangeSubType(this);">
        <option data-content="<img src='../templates/sysinfo/img/total.png'> Total" value=""[#if SUBTYPE_SENSOR=""#] selected[#endif#]>Total
        <option data-content="<img src='../templates/sysinfo/img/free.png'> Free" value="free"[#if SUBTYPE_SENSOR="free"#] selected[#endif#]>Free
        <option data-content="<img src='../templates/sysinfo/img/use.png'> Use" value="use"[#if SUBTYPE_SENSOR="use"#] selected[#endif#]>Use
    </select>
 </div>
</div>
<!-- UNIT_SENSOR (varchar) -->
<div class="form-group"  id="div_unit">
 <label class="col-lg-3 control-label"[#if ERR_UNIT_SENSOR#] style="color:red;font-weight:bold"[#endif#]>
 Unit sensor:
 </label>
 <div class="col-lg-4">
    <select name="unit_sensor" id="unit_sensor" class="form-control">
        <option value=""[#if UNIT_SENSOR=""#] selected[#endif#]>
        <option value="byte"[#if UNIT_SENSOR="byte"#] selected[#endif#]>byte
        <option value="kbyte"[#if UNIT_SENSOR="kbyte"#] selected[#endif#]>KB
        <option value="mbyte"[#if UNIT_SENSOR="mbyte"#] selected[#endif#]>MB
        <option value="gbyte"[#if UNIT_SENSOR="gbyte"#] selected[#endif#]>GB
        <option value="procent"[#if UNIT_SENSOR="procent"#] selected[#endif#]>Procent
    </select>
 </div>
</div>
<!-- LINKED_OBJECT (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_LINKED_OBJECT#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_LINKED_OBJECT#>:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="linked_object" value="[#LINKED_OBJECT#]" id="linked_object"></div>
</div>
<!-- LINKED_PROPERTY (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_LINKED_PROPERTY#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_LINKED_PROPERTY#>:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="linked_property" value="[#LINKED_PROPERTY#]" id="linked_property"></div>
</div>
[#module name="linkedobject" object_field="linked_object" property_field="linked_property" method_field="linked_method"#]
<div class="form-group">
        <div class="col-lg-offset-3 col-lg-4">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
        </div>
</div>
</fieldset>
</form>

<script type="text/javascript">  
	OnChangeProvider ( document.getElementById('provider') );
	OnChangeType ( document.getElementById('type_sensor') );
</script> 
